/* Reset default styles for the entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply some basic styles to the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(212, 207, 207);
    
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style the sections */
section {
    padding: 50px;
}

section h2 {
    margin-bottom: 20px;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}